//==========================================================
// Resource.rc
//==========================================================
// ウィンドウ構成及びイメージの管理
// ---------------------------------------------------------
// 依存関係 :
// ・resource.h [子]
//==========================================================


/* Other API & Resouece Header */
#include "resource.h"

//==========================================================
// イメージ
//==========================================================
IDI_ICON ICON DISCARDABLE "FLEAM.ico"

//==========================================================
// ダイアログ (IDD_DLGMAIN)
//==========================================================
IDD_DLGMAIN DIALOGEX DISCARDABLE 0, 0, 240, 132
STYLE WS_VISIBLE | WS_POPUP | WS_BORDER | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX | DS_SETFONT | DS_CENTER
CAPTION APP_TITLE_RES
MENU IDM_FORM_MENU
FONT 10, "ＭＳ ゴシック"
{
	CONTROL "SELS", IDC_BUTTON100, "BUTTON", WS_CHILD | WS_VISIBLE | BS_PUSHBUTTON | BS_CENTER | BS_VCENTER | BS_FLAT, 111, 9, 54, 12
	CONTROL "INFO", IDC_BUTTON101, "BUTTON", WS_CHILD | WS_VISIBLE | BS_PUSHBUTTON | BS_CENTER | BS_VCENTER | BS_FLAT, 174, 9, 54, 12
	CONTROL "", IDC_EDIT102, "EDIT", WS_CHILD | WS_BORDER | WS_VISIBLE | WS_TABSTOP | ES_LEFT, 4, 115, 231, 12
	CONTROL "", IDC_EDIT103, "EDIT", WS_CHILD | WS_BORDER | WS_VISIBLE | WS_TABSTOP | ES_LEFT, 30, 9, 21, 12
	CONTROL "", IDC_EDIT104, "EDIT", WS_CHILD | WS_BORDER | WS_VISIBLE | WS_TABSTOP | ES_LEFT | ES_NUMBER, 78, 9, 17, 12
	CONTROL "[Profit SUM]:", IDC_LABEL105, "STATIC", WS_CHILD | WS_VISIBLE | SS_NOTIFY, 6, 30, 55, 9
	CONTROL "[Tax SUM]:", IDC_LABEL106, "STATIC", WS_CHILD | WS_VISIBLE | SS_NOTIFY, 135, 30, 40, 9
	CONTROL "TAG:", IDC_LABEL107, "STATIC", WS_CHILD | WS_VISIBLE | SS_NOTIFY, 6, 11, 18, 9
	CONTROL "×", IDC_LABEL108, "STATIC", WS_CHILD | WS_VISIBLE | SS_NOTIFY | SS_CENTER, 59, 11, 12, 9
	CONTROL "Command Prompt:", IDC_LABEL109, "STATIC", WS_CHILD | WS_VISIBLE | SS_NOTIFY, 6, 48, 65, 9
	CONTROL "0", IDC_LABEL110, "STATIC", WS_CHILD | WS_VISIBLE | SS_NOTIFY | SS_RIGHT, 57, 30, 44, 9
	CONTROL "JPY", IDC_LABEL111, "STATIC", WS_CHILD | WS_VISIBLE | SS_NOTIFY | SS_RIGHT, 100, 30, 18, 9
	CONTROL "0", IDC_LABEL112, "STATIC", WS_CHILD | WS_VISIBLE | SS_NOTIFY | SS_RIGHT, 174, 30, 42, 9
	CONTROL "JPY", IDC_LABEL113, "STATIC", WS_CHILD | WS_VISIBLE | SS_NOTIFY | SS_RIGHT, 216, 30, 18, 9
	CONTROL "", IDC_LISTBOX114, "LISTBOX", WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | LBS_NOSEL, 4, 60, 231, 60
}

//==========================================================
// ダイアログ (IDD_DLGINIT)
//==========================================================
IDD_DLGINIT DIALOGEX DISCARDABLE 0, 0, 160, 110
STYLE WS_POPUP | WS_BORDER | WS_CAPTION | WS_SYSMENU | DS_SETFONT | DS_CENTER
CAPTION "Initialize Settings"
FONT 10, "ＭＳ ゴシック"
{
	CONTROL "Tax:", IDC_LABEL200, "STATIC", WS_CHILD | WS_VISIBLE | SS_NOTIFY, 6, 11, 16, 9
	CONTROL "Time1:", IDC_LABEL201, "STATIC", WS_CHILD | WS_VISIBLE | SS_NOTIFY, 6, 31, 26, 9
	CONTROL "Time2:", IDC_LABEL202, "STATIC", WS_CHILD | WS_VISIBLE | SS_NOTIFY, 6, 51, 26, 9
	CONTROL "Time3:", IDC_LABEL203, "STATIC", WS_CHILD | WS_VISIBLE | SS_NOTIFY, 6, 71, 26, 9
	CONTROL "%", IDC_LABEL204, "STATIC", WS_CHILD | WS_VISIBLE | SS_NOTIFY, 60, 11, 9, 9
	CONTROL "/", IDC_LABEL205, "STATIC", WS_CHILD | WS_VISIBLE | SS_NOTIFY, 60, 31, 9, 9
	CONTROL "/", IDC_LABEL206, "STATIC", WS_CHILD | WS_VISIBLE | SS_NOTIFY, 60, 51, 9, 9
	CONTROL "/", IDC_LABEL207, "STATIC", WS_CHILD | WS_VISIBLE | SS_NOTIFY, 60, 71, 9, 9
	CONTROL ":", IDC_LABEL208, "STATIC", WS_CHILD | WS_VISIBLE | SS_NOTIFY, 120, 31, 9, 9
	CONTROL ":", IDC_LABEL209, "STATIC", WS_CHILD | WS_VISIBLE | SS_NOTIFY, 120, 51, 9, 9
	CONTROL ":", IDC_LABEL210, "STATIC", WS_CHILD | WS_VISIBLE | SS_NOTIFY, 120, 71, 9, 9
	CONTROL "10", IDC_EDIT211, "EDIT", WS_CHILD | WS_BORDER | WS_VISIBLE | WS_TABSTOP | ES_LEFT | ES_NUMBER, 40, 9, 16, 12
	CONTROL "", IDC_EDIT212, "EDIT", WS_CHILD | WS_BORDER | WS_VISIBLE | WS_TABSTOP | ES_LEFT | ES_NUMBER, 40, 29, 13, 12
	CONTROL "", IDC_EDIT213, "EDIT", WS_CHILD | WS_BORDER | WS_VISIBLE | WS_TABSTOP | ES_LEFT | ES_NUMBER, 70, 29, 13, 12
	CONTROL "", IDC_EDIT214, "EDIT", WS_CHILD | WS_BORDER | WS_VISIBLE | WS_TABSTOP | ES_LEFT | ES_NUMBER, 100, 29, 13, 12
	CONTROL "", IDC_EDIT215, "EDIT", WS_CHILD | WS_BORDER | WS_VISIBLE | WS_TABSTOP | ES_LEFT | ES_NUMBER, 130, 29, 13, 12
	CONTROL "", IDC_EDIT216, "EDIT", WS_CHILD | WS_BORDER | WS_VISIBLE | WS_TABSTOP | ES_LEFT | ES_NUMBER, 40, 49, 13, 12
	CONTROL "", IDC_EDIT217, "EDIT", WS_CHILD | WS_BORDER | WS_VISIBLE | WS_TABSTOP | ES_LEFT | ES_NUMBER, 70, 49, 13, 12
	CONTROL "", IDC_EDIT218, "EDIT", WS_CHILD | WS_BORDER | WS_VISIBLE | WS_TABSTOP | ES_LEFT | ES_NUMBER, 100, 49, 13, 12
	CONTROL "", IDC_EDIT219, "EDIT", WS_CHILD | WS_BORDER | WS_VISIBLE | WS_TABSTOP | ES_LEFT | ES_NUMBER, 130, 49, 13, 12
	CONTROL "", IDC_EDIT220, "EDIT", WS_CHILD | WS_BORDER | WS_VISIBLE | WS_TABSTOP | ES_LEFT | ES_NUMBER, 40, 69, 13, 12
	CONTROL "", IDC_EDIT221, "EDIT", WS_CHILD | WS_BORDER | WS_VISIBLE | WS_TABSTOP | ES_LEFT | ES_NUMBER, 70, 69, 13, 12
	CONTROL "", IDC_EDIT222, "EDIT", WS_CHILD | WS_BORDER | WS_VISIBLE | WS_TABSTOP | ES_LEFT | ES_NUMBER, 100, 69, 13, 12
	CONTROL "", IDC_EDIT223, "EDIT", WS_CHILD | WS_BORDER | WS_VISIBLE | WS_TABSTOP | ES_LEFT | ES_NUMBER, 130, 69, 13, 12
	CONTROL "CANCEL", IDCANCEL, "BUTTON", WS_CHILD | WS_VISIBLE | BS_DEFPUSHBUTTON | BS_CENTER | BS_VCENTER, 90, 90, 40, 14
	CONTROL "OK", IDOK, "BUTTON", WS_CHILD | WS_VISIBLE | BS_DEFPUSHBUTTON | BS_CENTER | BS_VCENTER, 30, 90, 40, 14
}

//==========================================================
// ダイアログ (IDD_DLGVERSION)
//==========================================================
IDD_DLGVERSION DIALOGEX DISCARDABLE 0, 0, 240, 75
STYLE WS_POPUP | WS_BORDER | WS_CAPTION | DS_SETFONT | DS_CENTER
CAPTION "Version Information"
FONT 10, "ＭＳ ゴシック"
{
	CONTROL "IDI_ICON", IDC_STATIC300, "STATIC", WS_CHILD | WS_VISIBLE | SS_ICON, 10, 18, 19, 19
	CONTROL "FLE@M", IDC_LABEL301, "STATIC", WS_CHILD | WS_VISIBLE | SS_NOTIFY, 40, 10, 30, 9
	CONTROL "Function of Labor-saving Equipment at Marketing.", IDC_LABEL302, "STATIC", WS_CHILD | WS_VISIBLE | SS_NOTIFY, 40, 24, 200, 9
	CONTROL APP_VERSION_RES, IDC_LABEL303, "STATIC", WS_CHILD | WS_VISIBLE | SS_NOTIFY, 40, 38, 60, 9
	CONTROL "Copyright (C) 2010-2011 by Kazuyuki Takase.", IDC_LABEL304, "STATIC", WS_CHILD | WS_VISIBLE | SS_NOTIFY, 40, 58, 175, 9
	CONTROL "OK", IDOK, "BUTTON", WS_CHILD | WS_VISIBLE | BS_DEFPUSHBUTTON | BS_CENTER | BS_VCENTER, 190, 5, 40, 14
}

//==========================================================
// メニュー
//==========================================================
IDM_FORM_MENU MENU DISCARDABLE
{
	POPUP "File(&F)"
	{
		MENUITEM "Optimize DB (&O)\tCtrl+O", IDM_OPTIMIZE
		MENUITEM "Import ItemList (&R)\tCtrl+I", IDM_IMPORT
		MENUITEM "Export ItemList (&W)\tCtrl+E", IDM_EXPORT
		MENUITEM SEPARATOR
		MENUITEM "Exit (&X)", IDM_EXIT
	}
	POPUP "Help(&H)"
	{
		MENUITEM "Command Reference (&C)\tCtrl+H", IDM_HELP
		MENUITEM SEPARATOR
		MENUITEM "Version Information (&V)", IDM_VERSION
	}

}

//==========================================================
// アクセラレーター (IDA_MAIN)
//==========================================================
IDA_MAIN ACCELERATORS DISCARDABLE
{
	"O", IDM_OPTIMIZE, VIRTKEY, CONTROL, NOINVERT
	"I", IDM_IMPORT, VIRTKEY, CONTROL, NOINVERT
	"E", IDM_EXPORT, VIRTKEY, CONTROL, NOINVERT
	"H", IDM_HELP, VIRTKEY, CONTROL, NOINVERT
}